<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Design landing page.">
    <meta name="author" content="Devcrud">
    <title>Hand Gesture Recognition</title>
    <link rel="stylesheet" href="../static/vendors/themify-icons/css/themify-icons.css">
	<link rel="stylesheet" href="../static/css/creative-design.css">
<style>
.header {
  background: #efefef url(../static/imgs/11.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  position: relative;
  height: 100%;
  position: relative;
}
</style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">    
    <!-- Page Navbar -->
    <nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><strong class="text-primary">Hand</strong> <span class="text-dark">Gesture</span></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="intro.html">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index6.html">Predict</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- End of Page Navbar -->   

    <!-- Page Header -->
    <header id="home" class="header">
<img src="../static/imgs/11.jpg" style="width:100%;height:100%;">
        <div class="overlay"></div>
        <div class="header-content">
            <p>Image Processing Using Hand Gesture</p>
            <h3 style="color:yellow;">A Gesture-based Tool for Sterile Browsing of Radiology Images</h3> 
				<h4>	   Hand Gesture recognition system provides us with an innovative, natural, user-friendly way of interacting with the computer which 
is more familiar to human beings. In our project, the hand region is extracted 
from the background by using the Region of interest. Then, we will be predicted 
the labels based on the CNN-trained model weights of hand gestures using that predicted labels we apply if conditions to control some of the actions like reshaping, blurring, and flip of the given image. <h4>
        </div>      
    </header><!-- End of Page Header -->    
    
    
